[package]
edition = "2021"
license = "MIT or Apache-2.0"
name    = "covenant_nop"
version = "0.1.0"

[workspace]

[dependencies]
cl                     = { path = "../../cl" }
nomos_proof_statements = { path = "../../proof_statements" }
risc0-zkvm             = { version = "1.0", default-features = false, features = ['std'] }
serde                  = { version = "1.0", features = ["derive"] }
