[package]
name = "nomos-da-network-core"
version = "0.1.0"
edition = "2021"

[dependencies]
libp2p = { version = "0.53" }
libp2p-stream = "0.1.0-alpha"
futures = "0.3"
tracing = "0.1"
indexmap = "2.2"
subnetworks-assignations = { path = "../subnetworks-assignations" }
nomos-da-messages = { path = "../messages" }
kzgrs-backend = { path = "../../kzgrs-backend" }
tracing-subscriber = "0.3.18"
void = "1.0.2"
either = "1.13.0"
log = "0.4"
serde = "1.0"
bincode = "1.3"
tokio = { version = "1.39" }
tokio-stream = "0.1"
thiserror = "1.0"

[dev-dependencies]
tokio = { version = "1.39", features = ["macros", "rt-multi-thread", "time"] }
libp2p = { version = "0.53", features = ["ed25519", "ping", "macros", "tokio", "quic"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

