[package]
edition = "2021"
license = { workspace = true }
name    = "nomos-da-network-core"
version = "0.1.0"

[dependencies]
either                   = "1.13.0"
fixed                    = { version = "1", features = ["serde-str"] }
futures                  = "0.3"
indexmap                 = "2.2"
kzgrs-backend            = { workspace = true }
libp2p                   = { workspace = true, features = ["macros", "quic", "tokio"] }
libp2p-stream            = "0.3.0-alpha"
log                      = "0.4"
nomos-core               = { workspace = true }
nomos-da-messages        = { workspace = true }
rand                     = "0.8"
serde                    = "1.0"
subnetworks-assignations = { workspace = true }
thiserror                = "1.0"
tokio                    = { version = "1" }
tokio-stream             = "0.1"
tracing                  = "0.1"
tracing-subscriber       = "0.3.18"

[dev-dependencies]
bincode            = "1.3"
blake2             = "0.10"
kzgrs              = { workspace = true }
kzgrs-backend      = { workspace = true, features = ["testutils"] }
libp2p             = { workspace = true, features = ["ed25519", "macros", "noise", "ping", "plaintext", "quic", "tcp", "yamux"] }
libp2p-swarm-test  = { version = "0.5.0", features = ["tokio"] }
tokio              = { version = "1", features = ["macros", "rt-multi-thread", "time"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
