[package]
edition = "2021"
license = { workspace = true }
name    = "nomos-storage"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait  = "0.1"
bytes        = "1.2"
futures      = "0.3"
overwatch-rs = { workspace = true }
rocksdb      = { version = "0.22", optional = true }
serde        = { version = "1.0", features = ["derive"] }
sled         = { version = "0.34", optional = true }
thiserror    = "1.0"
tokio        = { version = "1", features = ["sync"] }
tracing      = "0.1"

[dev-dependencies]
tempfile = "3"
tokio    = { version = "1", features = ["macros", "sync", "time"] }

[features]
default         = []
mock            = []
rocksdb-backend = ["rocksdb"]
sled-backend    = ["sled"]

[[bin]]
name              = "rocks"
path              = "src/bin/rocks.rs"
required-features = ["rocksdb-backend"]
