[package]
name = "nomos-storage"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
futures = "0.3"
tokio = { version = "1.41.1", features = ["sync"] }
bytes = "1.2"
overwatch-rs = { git = "https://github.com/logos-co/Overwatch", rev = "2f70806" }
serde = "1.0"
sled = { version = "0.34", optional = true }
rocksdb = { version = "0.22", optional = true }
surrealdb = { version = "2.1.2", optional = true }
thiserror = "1.0"
tracing = "0.1"

[dev-dependencies]
tokio = { version = "1", features = ["sync", "macros", "time"] }
tempfile = "3"
surrealdb = { version = "2.1.2", features = ["kv-mem"] }

[features]
default = []
mock = []
sled-backend = ["sled"]
rocksdb-backend = ["rocksdb"]
surrealdb-backend = ["surrealdb"]

[[bin]]
name = "rocks"
path = "src/bin/rocks.rs"
required-features = ["rocksdb-backend"]
