[workspace]
members = [
    "nomos-core",
    "nomos-libp2p",
    "nomos-services/api",
    "nomos-metrics",
    "nomos-services/log",
    "nomos-services/network",
    "nomos-services/storage",
    "nomos-services/carnot-consensus",
    "nomos-services/cryptarchia-consensus",
    "nomos-services/mempool",
    "nomos-services/data-availability",
    "nomos-services/system-sig",
    "nomos-da/reed-solomon",
    "nomos-da/kzg",
    "nomos-da/full-replication",
    "nomos-cli",
    "nomos-utils",
    "nodes/nomos-node",
    "mixnet",
    "simulations",
    "consensus/carnot-engine",
    "consensus/cryptarchia-engine",
    "ledger/cryptarchia-ledger",
    "tests",
]
resolver = "2"
