[workspace]
members = [
    "nomos-core",
    "nomos-libp2p",
    "nomos-services/api",
    "nomos-services/log",
    "nomos-services/network",
    "nomos-services/storage",
    "nomos-services/cryptarchia-consensus",
    "nomos-services/mempool",
    "nomos-services/metrics",
    "nomos-services/system-sig",
    "nomos-services/data-availability/storage",
    "nomos-da/full-replication",
    # TODO: add it again and reimplement full replication
    #    "nomos-cli",
    "nomos-utils",
    "nodes/nomos-node",
    "mixnet",
    "consensus/carnot-engine",
    "consensus/cryptarchia-engine",
    "ledger/cryptarchia-ledger",
    "tests",
    "nomos-da/kzgrs",
    "nomos-da/kzgrs-backend",
]
resolver = "2"
