{
  "wards": [
    {
      "max_view": {
        "max_view": 10
      }
    },
    {
      "min_max_view": {
        "max_gap": 5
      }
    },
    {
      "stalled_view": {
        "consecutive_viewed_checkpoint": 123456789,
        "criterion": 1000,
        "threshold": 5
      }
    }
  ],
  "network_settings": {
    "network_behaviors": {},
    "regions": {
      "Europe": 0.3
    }
  },
  "overlay_settings": {
    "Tree": {
      "tree_type": "FullBinaryTree",
      "committee_size": 1,
      "depth": 3
    }
  },
  "node_settings": "Dummy",
  "runner_settings": "Sync",
  "stream_settings": {
    "Naive": {
      "path": "sim_naive_stream.txt"
    }
  },
  "node_count": 10,
  "views_count": 20,
  "leaders_count": 2,
  "seed": 12345
}
