[package]
name = "cryptarchia-engine"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1"
serde = { version = "1.0", features = ["derive"], optional = true }
nomos-utils = { path = "../../nomos-utils", optional = true }

[features]
default = []
serde = ["dep:serde", "nomos-utils/serde"]