[package]
name = "kzgrs-backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
blake2 = "0.10"
ark-serialize = "0.4.2"
ark-poly = "0.4.2"
kzgrs = { path = "../kzgrs" }
rand = "0.8.5"
once_cell = "1.19"
sha3 = "0.10"

[dev-dependencies]
rand = "0.8"
itertools = "0.12"
ark-ff = "0.4"
