[package]
edition = "2021"
license = { workspace = true }
name    = "kzgrs-backend"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ark-ff        = "0.4"
ark-poly      = "0.4.2"
ark-serialize = "0.4.2"
bitvec        = { version = "1.0.1", features = ["serde"] }
blake2        = "0.10"
blst          = { version = "0.3.11", features = ["serde"] }
itertools     = "0.12"
kzgrs         = { workspace = true }
nomos-core    = { workspace = true }
num-bigint    = "0.4.4"
once_cell     = "1.19"
rand          = "0.8.5"
rayon         = { version = "1.10.0", optional = true }
serde         = { version = "1.0", features = ["derive"] }
sha3          = "0.10"

[dev-dependencies]
ark-bls12-381 = "0.4.0"
divan         = "0.1"
rand          = "0.8"

[features]
default   = []
parallel  = ["kzgrs/parallel", "rayon"]
single    = []
testutils = []

[[bench]]
harness = false
name    = "encoder"

[[bench]]
harness = false
name    = "verifier"

[[bench]]
harness = false
name    = "reconstruct"
