[package]
name = "kzgrs-backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ark-ff = "0.4"
ark-serialize = "0.4.2"
ark-poly = "0.4.2"
blake2 = "0.10"
blst = "0.3.11"
itertools = "0.12"
kzgrs = { path = "../kzgrs" }
num-bigint = "0.4.4"
rand = "0.8.5"
once_cell = "1.19"
sha3 = "0.10"

[dev-dependencies]
rand = "0.8"
divan = "0.1"

[[bench]]
name = "encode"
harness = false

