[package]
edition = "2021"
license = { workspace = true }
name    = "nomos-da-indexer"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait           = "0.1"
bytes                 = "1.2"
cryptarchia-consensus = { workspace = true }
futures               = "0.3"
kzgrs-backend         = { workspace = true }
nomos-core            = { workspace = true }
nomos-da-sampling     = { workspace = true }
nomos-da-storage      = { workspace = true }
nomos-mempool         = { workspace = true }
nomos-storage         = { workspace = true }
nomos-tracing         = { workspace = true }
overwatch-derive      = { git = "https://github.com/logos-co/Overwatch", rev = "f5f7ea0" }
overwatch-rs          = { git = "https://github.com/logos-co/Overwatch", rev = "f5f7ea0" }
rand                  = "0.8"
serde                 = { version = "1.0", features = ["derive"] }
tokio                 = { version = "1", features = ["sync"] }
tokio-stream          = "0.1.15"
tracing               = "0.1"

[features]
rocksdb-backend = ["nomos-storage/rocksdb-backend"]
