[package]
name = "nomos-da-indexer"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
bytes = "1.2"
futures = "0.3"
nomos-core = { path = "../../../nomos-core/chain-defs" }
nomos-da-storage = { path = "../../../nomos-da/storage" }
nomos-da-sampling = { path = "../sampling" }
nomos-storage = { path = "../../../nomos-services/storage" }
nomos-mempool = { path = "../../../nomos-services/mempool" }
cryptarchia-consensus = { path = "../../../nomos-services/cryptarchia-consensus" }
overwatch-rs = { git = "https://github.com/logos-co/Overwatch", rev = "4160cdd" }
overwatch-derive = { git = "https://github.com/logos-co/Overwatch", rev = "4160cdd" }
serde = { version = "1.0", features = ["derive"] }
rand = "0.8"
tracing = "0.1"
tokio = { version = "1", features = ["sync"] }
tokio-stream = "0.1.15"

[features]
rocksdb-backend = ["nomos-storage/rocksdb-backend"]
