[package]
name = "nomos-network"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1"
bytes = "1.2"
overwatch-rs = { git = "https://github.com/logos-co/Overwatch", branch = "main" }
multiaddr = "0.15"
serde = "1.0"
sled = { version = "0.34", optional = true }
tokio = { version = "1", features = ["sync"] }
thiserror = "1.0"
tracing = "0.1"
waku-bindings = { version = "0.1.0-beta2", optional = true }
tracing-appender = "0.2"
tracing-subscriber =  { version = "0.3", features = ["json"] }
tracing-gelf = "0.7"
futures = "0.3"
parking_lot = "0.12"

[features]
default = []
waku = ["waku-bindings"]
mock = []
