[package]
edition = "2021"
license = { workspace = true }
name    = "nomos-tracing-service"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait        = "0.1"
futures            = "0.3"
nomos-tracing      = { workspace = true }
overwatch-rs       = { workspace = true }
serde              = { version = "1.0", features = ["derive"] }
tracing            = "0.1"
tracing-appender   = "0.2"
tracing-subscriber = { version = "0.3", features = ["json", "registry"] }
