[package]
edition = "2021"
license = "MIT or Apache-2.0"
name    = "proof_of_leadership"
version = "0.1.0"

[workspace]

[dependencies]
cl                     = { path = "../../cl" }
crypto-bigint          = "0.5.5"
nomos_proof_statements = { path = "../../proof_statements" }
risc0-zkvm             = { version = "1.0", default-features = false, features = ['std'] }
serde                  = { version = "1.0", features = ["derive"] }
sha2                   = "0.10"

[patch.crates-io]
# add RISC Zero accelerator support for all downstream usages of the following crates.
crypto-bigint = { git = "https://github.com/risc0/RustCrypto-crypto-bigint", tag = "v0.5.5-risczero.0" }
sha2          = { git = "https://github.com/risc0/RustCrypto-hashes", tag = "sha2-v0.10.8-risczero.0" }
