[package]
edition = "2021"
license = { workspace = true }
name    = "nomos-node"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait              = "0.1"
blake2                   = "0.10"
bytes                    = "1.3"
chrono                   = "0.4"
cl                       = { workspace = true }
clap                     = { version = "4", features = ["derive", "env"] }
color-eyre               = "0.6.0"
cryptarchia-consensus    = { workspace = true, features = ["libp2p"] }
cryptarchia-engine       = { workspace = true }
full-replication         = { workspace = true }
futures                  = "0.3"
hex                      = "0.4.3"
http                     = "0.2.9"
kzgrs-backend            = { workspace = true }
multiaddr                = "0.18"
nomos-api                = { workspace = true }
nomos-blend-service      = { workspace = true, features = ["libp2p"] }
nomos-core               = { workspace = true }
nomos-da-indexer         = { workspace = true, features = ["rocksdb-backend"] }
nomos-da-network-core    = { workspace = true }
nomos-da-network-service = { workspace = true }
nomos-da-sampling        = { workspace = true, features = ["rocksdb-backend"] }
nomos-da-verifier        = { workspace = true, features = ["libp2p", "rocksdb-backend"] }
nomos-ledger             = { workspace = true }
nomos-libp2p             = { workspace = true }
nomos-mempool            = { workspace = true, features = ["libp2p", "mock"] }
nomos-network            = { workspace = true, features = ["libp2p"] }
nomos-storage            = { workspace = true, features = ["rocksdb"] }
nomos-system-sig         = { workspace = true }
nomos-tracing            = { workspace = true }
nomos-tracing-service    = { workspace = true }
overwatch-derive         = { workspace = true }
overwatch-rs             = { workspace = true }
rand_chacha              = "0.3"
serde                    = "1"
serde_json               = "1.0"
serde_yaml               = "0.9"
subnetworks-assignations = { workspace = true }
tokio                    = { version = "1", features = ["sync"] }
tracing                  = "0.1"
tracing-subscriber       = "0.3"
uuid                     = { version = "1.10", features = ["v4"] }

# openapi related dependencies
utoipa            = "4.0"
utoipa-swagger-ui = { version = "4.0" }

# axum related dependencies
axum       = { version = "0.6" }
hyper      = { version = "0.14", features = ["full"] }
rand       = "0.8"
time       = "0.3"
tower-http = { version = "0.4", features = ["cors", "trace"] }

[features]
default         = ["tracing"]
instrumentation = []
tracing         = []
