[package]
name = "nomos-da-dispersal"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1"
futures = "0.3"
itertools = "0.13"
nomos-core = { path = "../../../nomos-core/chain-defs" }
nomos-da-network-core = { path = "../../../nomos-da/network/core" }
nomos-da-network-service = { path = "../../../nomos-services/data-availability/network" }
nomos-da-sampling = { path = "../sampling" }
nomos-mempool = { path = "../../mempool", features = ["libp2p"] }
nomos-tracing = { path = "../../../nomos-tracing" }
kzgrs-backend = { path = "../../../nomos-da/kzgrs-backend" }
overwatch-rs = { git = "https://github.com/logos-co/Overwatch", rev = "10ec27e" }
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
subnetworks-assignations = { path = "../../../nomos-da/network/subnetworks-assignations" }
tokio = "1"
thiserror = "1.0"
tracing = "0.1"
