apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    org_id: 1
    url: http://prometheus:9090
    is_default: true
    version: 1
    editable: true

  - name: Tempo
    type: tempo
    access: proxy
    org_id: 1
    url: http://tempo:3200
    is_default: false
    version: 1
    editable: true
    uid: tempods

  - name: Loki
    type: loki
    access: proxy
    org_id: 1
    url: http://loki:3100
    is_default: false
    version: 1
    editable: true
    jsonData:
      derivedFields:
        - name: trace_id
          matcherRegex: "\"trace_id\":\"(\\w+)\""
          url: "$${__value.raw}"
          datasourceUid: tempods

