[package]
edition = "2021"
license = { workspace = true }
name    = "nomos-blend"
version = "0.1.0"

[dependencies]
blake2              = "0.10"
fixed               = { version = "1", features = ["serde-str"] }
futures             = "0.3"
multiaddr           = "0.18"
nomos-blend-message = { workspace = true }
rand                = "0.8"
serde               = { version = "1.0", features = ["derive"] }
tokio               = { version = "1", features = ["macros", "sync", "time"] }
tokio-stream        = "0.1"
tracing             = "0.1"

[dev-dependencies]
rand_chacha = "0.3"
tokio       = { version = "1", features = ["rt-multi-thread", "time"] }
