[package]
name = "nomos-blend"
version = "0.1.0"
edition = "2021"

[dependencies]
blake2 = "0.10"
cached = "0.53"
tokio = { version = "1", features = ["time", "sync", "macros"] }
tokio-stream = "0.1"
tracing = "0.1"
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
nomos-blend-message = { path = "../message" }
futures = "0.3"
multiaddr = "0.18"
x25519-dalek = { version = "2", features = ["getrandom", "static_secrets"] }
fixed = { version = "1", features = ["serde-str"] }


[dev-dependencies]
tokio = { version = "1", features = ["rt-multi-thread"] }
rand_chacha = "0.3"
