[package]
edition = "2021"
license = "MIT or Apache-2.0"
name    = "ptx"
version = "0.1.0"

[workspace]

[dependencies]
cl                     = { path = "../../cl" }
nomos_proof_statements = { path = "../../proof_statements" }
risc0-zkvm             = { version = "1.0", default-features = false, features = ['std'] }
serde                  = { version = "1.0", features = ["derive"] }

[patch.crates-io]
# add RISC Zero accelerator support for all downstream usages of the following crates.
sha2 = { git = "https://github.com/risc0/RustCrypto-hashes", tag = "sha2-v0.10.8-risczero.0" }
