[package]
edition = "2021"
license = { workspace = true }
name    = "nomos-api"
version = "0.1.0"

[features]
axum            = ["dep:axum", "dep:hyper", "dep:tower-http", "utoipa-swagger-ui/axum"]
default         = ["axum"]
instrumentation = []

[dependencies]
async-trait              = "0.1"
bytes                    = "1.2"
cryptarchia-consensus    = { workspace = true }
full-replication         = { workspace = true }
kzgrs-backend            = { workspace = true }
nomos-blend-service      = { workspace = true, features = ["libp2p"] }
nomos-core               = { workspace = true }
nomos-da-dispersal       = { workspace = true }
nomos-da-indexer         = { workspace = true, features = ["rocksdb-backend"] }
nomos-da-network-core    = { workspace = true }
nomos-da-sampling        = { workspace = true }
nomos-da-verifier        = { workspace = true, features = ["libp2p", "rocksdb-backend"] }
nomos-libp2p             = { workspace = true }
nomos-mempool            = { workspace = true, features = ["libp2p", "mock", "openapi"] }
nomos-network            = { workspace = true }
nomos-storage            = { workspace = true, features = ["rocksdb"] }
overwatch-derive         = { workspace = true }
overwatch-rs             = { workspace = true }
rand                     = "0.8"
serde                    = { version = "1", features = ["derive"] }
subnetworks-assignations = { workspace = true }
tokio                    = { version = "1", default-features = false, features = ["sync"] }
tracing                  = "0.1"

# axum related dependencies
axum       = { version = "0.6", optional = true }
hyper      = { version = "0.14", features = ["full"], optional = true }
tower-http = { version = "0.4", optional = true, features = ["cors", "trace"] }

# openapi related dependencies
utoipa            = "4.0"
utoipa-swagger-ui = { version = "4.0" }

[dev-dependencies]
axum              = "0.6"
hyper             = { version = "0.14", features = ["full"] }
reqwest           = { version = "0.11", features = ["blocking", "json"] }
serde             = { version = "1", features = ["derive"] }
serde_json        = "1"
utoipa-swagger-ui = { version = "4.0", features = ["axum"] }
