[package]
name = "nomos-da-verifier"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1"
blst = { version = "0.3.11", features = ["serde-secret"] }
bytes = "1.2"
futures = "0.3"
hex = "0.4.3"
kzgrs-backend = { path = "../../../nomos-da/kzgrs-backend" }
libp2p = { version = "0.54.1", features = ["ed25519"] }
nomos-core = { path = "../../../nomos-core/chain-defs" }
nomos-da-storage = { path = "../../../nomos-da/storage" }
nomos-da-network-core = { path = "../../../nomos-da/network/core" }
nomos-da-network-service = { path = "../../../nomos-services/data-availability/network" }
nomos-storage = { path = "../../../nomos-services/storage" }
nomos-tracing = { path = "../../../nomos-tracing" }
overwatch-rs = { git = "https://github.com/logos-co/Overwatch", rev = "10ec27e" }
overwatch-derive = { git = "https://github.com/logos-co/Overwatch", rev = "10ec27e" }
serde = { version = "1.0", features = ["derive"] }
subnetworks-assignations = { path = "../../../nomos-da/network/subnetworks-assignations" }
tokio = { version = "1", features = ["sync", "macros"] }
tokio-stream = "0.1.15"
tracing = { version = "0.1", features = ["attributes"] }

[features]
rocksdb-backend = ["nomos-storage/rocksdb-backend"]
libp2p = []
